[submodule "test/openpgp-interop"]
	path = test/openpgp-interop
	url = git@github.com:google/openpgp-interop.git
[submodule "tests/opengpg-interop"]
	path = tests/opengpg-interop
	url = git@github.com:google/openpgp-interop.git
