[package]
name = "pgp"
version = "0.16.0-alpha.0"
authors = ["dignifiedquire <dignifiedquire@gmail.com>"]
description = "OpenPGP implementation in Rust"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/rpgp/rpgp"
repository = "https://github.com/rpgp/rpgp"
readme = "README.md"
resolver = "2"

keywords = ["pgp", "gpg", "openpgp", "email", "encryption"]
categories = ["cryptography", "email"]

exclude = ["tests/tests/*"]

edition = "2021"
rust-version = "1.83"

[lib]
crate-type = ["cdylib", "rlib"]
bench = false

[dependencies]

# general
base64 = ">=0.21.7, < 0.23"
buffer-redux = { version = "1.0.0", default-features = false }
bitfields = "0.12.3"
bytes = "1.9.0"
byteorder = "1.4"
chrono = { version = "0.4.39", default-features = false, features = [
    "clock",
    "std",
] }
derive_builder = "0.20.0"
hex = "0.4"
nom = "7.0"
log = "0.4.22"
smallvec = "1.10.0"
derive_more = { version = "2.0.1", features = ["debug", "display"] }
regex = "1.7"
snafu = { version = "0.8.5", features = ["rust_1_81"] }

# Compression
flate2 = { version = "1.1.1", default-features = false, features = ["zlib-rs"] }
bzip2 = { version = "0.5.2", default-features = false, features = ["libbz2-rs-sys"], optional = true }

# Crypto
aes = "0.8.4"
aead = { version = "0.5", features = ["bytes"] }
argon2 = { version = "0.5", features = ["zeroize", "std"] }
block-padding = "0.3"
blowfish = "0.9"
camellia = "0.1"
cast5 = "0.11"
cfb-mode = "0.8.2"
cipher = "0.4.2"
const-oid = "0.9.6"
crc24 = "0.1.6"
curve25519-dalek = { version = "4.1.3", default-features = false, features = [
    "alloc",
    "precomputed-tables",
    "zeroize",
] }
des = "0.8"
digest = "0.10.7"
dsa = "0.6.3"
ecdsa = "0.16.9"
ed25519-dalek = { version = "2.1.1", default-features = false, features = [
    "std",
    "zeroize",
    "fast",
] }
elliptic-curve = "0.13"
generic-array = "0.14.6"
idea = "0.5"
md-5 = { version = "0.10.5", features = ["oid"] }
num_enum = ">=0.5.7, < 0.8"
num-traits = "0.2.19"
p256 = { version = "0.13", features = ["ecdsa", "ecdh"] }
p384 = { version = "0.13", features = ["ecdsa"] }
p521 = { version = "0.13", features = ["ecdsa", "ecdh"] }
k256 = { version = "0.13", features = ["ecdsa"] }
rand = "0.8.5"
ripemd = { version = "0.1.3", features = ["oid"] }
rsa = { version = "0.9.7" }
sha1 = { version = "0.10.6", features = ["oid"] }
sha1-asm = { version = "0.5.3", optional = true }
sha1-checked = { version = "0.10", features = ["zeroize"] }
sha2 = { version = "0.10.6", features = ["oid"] }
sha3 = { version = "0.10.5", features = ["oid"] }
signature = "2.2"
twofish = "0.7"
zeroize = { version = "1.8", features = ["zeroize_derive"] }
getrandom = { version = "0.2", optional = true }
hkdf = "0.12.4"
aes-gcm = "0.10.3"
eax = "0.5.0"
ocb3 = "0.1"
aes-kw = { version = "0.2.1", features = ["std"] }
cx448 = { version = "0.1", features = ["zeroize"] }
num-bigint = { version = "0.8.4", features = [
    "rand",
    "i128",
    "u64_digit",
    "prime",
    "zeroize",
], package = "num-bigint-dig" }
x25519-dalek = { version = "2.0.1", default-features = false, features = [
    "alloc",
    "precomputed-tables",
    "zeroize",
    "static_secrets",
] }


[dev-dependencies]
glob = "0.3"
hex-literal = "0.4"
pretty_assertions = "1"
pretty_env_logger = "0.5"
rand_chacha = "0.3"
rand_xorshift = "0.3"
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0"
criterion = { version = "0.5", features = ["html_reports"] }
tempfile = "3.14.0"
proptest = { version = "1.6.0", features = ["proptest-macro"] }
proptest-derive = "0.5.1"
escape_string = "0.1.2"
testresult = "0.4.1"

[features]
default = ["bzip2"]
bzip2 = ["dep:bzip2"]
asm = ["dep:sha1-asm", "sha1/asm", "sha2/asm", "md-5/asm"]
wasm = ["chrono/wasmbind", "getrandom", "getrandom/js"]

[profile.bench]
debug = 2

[[bench]]
name = "benches_main"
harness = false
