[package]
name = "pgp"
version = "0.7.2"
authors = ["dignifiedquire <dignifiedquire@gmail.com>"]
description = "OpenPGP implementation in Rust"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/rpgp/rpgp"
repository = "https://github.com/rpgp/rpgp"
readme = "README.md"
resolver = "2"

keywords = ["pgp", "gpg", "openpgp", "email", "encryption"]
categories = ["cryptography", "email"]

exclude = ["tests/tests/*"]

edition = "2018"

[dependencies]
aes = "^0.7"
base64 = "^0.13.0"
bitfield = "0.13.1"
block-modes = "^0.8"
block-padding = "0.2.0"
blowfish = "^0.8"
byteorder = "^1.4"
cast5 = "^0.10.0"
cfb-mode = "^0.7.0"
chrono = "^0.4"
circular = "^0.3"
cipher = "^0.3"
clear_on_drop = { version = "0.2.3", features = ["no_cc"] }
crc24 = "^0.1"
derive_builder = "0.9.0"
des = "^0.7"
digest = "^0.9"
generic-array = "^0.14"
hex = "^0.4"
lazy_static = "1.2.0"
log = "0.4.6"
md-5 = "^0.9"
nom = "^4.2"
num-derive = "0.3.0"
num-traits = "0.2.6"
rand = "0.8"
ripemd160 = "^0.9"
rsa = "^0.6.1"
sha-1 = "^0.9"
sha2 = "^0.9"
sha3 = "0.9"
signature = "1.3.0"
smallvec = "1.6.1"
thiserror = "1.0.9"
twofish = "^0.6"
zeroize = { version = "~1.4.0", features = ["zeroize_derive"] }
getrandom = { version = "0.2.3", optional = true }

[dependencies.buf_redux]
version = "0.8.1"
default-features = false

[dependencies.ed25519-dalek]
version = "^1.0"
default-features = false
features = ["std", "u64_backend"]

[dependencies.flate2]
version = "^1.0"
default-features = false
features = ["rust_backend"]

[dependencies.gperftools]
version = "0.2.0"
optional = true

[dependencies.num-bigint]
version = "0.7"
features = ["rand", "i128", "u64_digit", "prime", "zeroize"]
package = "num-bigint-dig"

[dependencies.x25519-dalek]
version = "^1.0"
default-features = false
features = ["std", "u64_backend"]

[dev-dependencies]
glob = "^0.3"
hex-literal = "^0.3"
pretty_assertions = "0.7"
pretty_env_logger = "0.4"
rand_chacha = "0.3"
rand_xorshift = "0.3"
regex = "^1.5"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"

[features]
default = []
nightly = ["ed25519-dalek/nightly", "rsa/nightly", "rand/nightly", "num-bigint/nightly", "clear_on_drop/nightly"]
profile = ["gperftools"]
asm = ["sha-1/asm", "sha2/asm", "md-5/asm", "nightly"]
wasm = ["chrono/wasmbind", "getrandom", "getrandom/js"]

[profile.bench]
debug = true

