[package]
name = "pgp"
version = "0.15.0"
authors = ["dignifiedquire <dignifiedquire@gmail.com>"]
description = "OpenPGP implementation in Rust"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/rpgp/rpgp"
repository = "https://github.com/rpgp/rpgp"
readme = "README.md"
resolver = "2"

keywords = ["pgp", "gpg", "openpgp", "email", "encryption"]
categories = ["cryptography", "email"]

exclude = ["tests/tests/*"]

edition = "2021"
rust-version = "1.81"

[dependencies]
aes = "0.8.4"
argon2 = { version = "0.5", features = ["zeroize"] }
base64 = ">=0.21.7, < 0.23"
block-padding = "0.3"
blowfish = "0.9"
byteorder = "1.4"
camellia = "0.1"
chrono = { version = "0.4.39", default-features = false, features = [
    "clock",
    "std",
] }
cast5 = "0.11"
cfb-mode = "0.8.2"
cipher = "0.4.2"
const-oid = "0.9.6"
crc24 = "0.1.6"
derive_builder = "0.20.0"
des = "0.8"
digest = "0.10.7"
dsa = "0.6.3"
ecdsa = "0.16.9"
elliptic-curve = "0.13"
generic-array = "0.14.6"
hex = "0.4"
idea = "0.5"
iter-read = "1"
log = "0.4.22"
md-5 = { version = "0.10.5", features = ["oid"] }
nom = "7.0"
num_enum = ">=0.5.7, < 0.8"
num-traits = "0.2.19"
p256 = { version = "0.13", features = ["ecdsa", "ecdh"] }
p384 = { version = "0.13", features = ["ecdsa"] }
p521 = { version = "0.13", features = ["ecdsa", "ecdh"] }
k256 = { version = "0.13", features = ["ecdsa"] }
rand = "0.8.5"
ripemd = { version = "0.1.3", features = ["oid"] }
rsa = { version = "0.9.7" }
sha1 = { version = "0.10.6", features = ["oid"] }
sha1-checked = { version = "0.10", features = ["zeroize"] }
sha2 = { version = "0.10.6", features = ["oid"] }
sha3 = { version = "0.10.5", features = ["oid"] }
signature = "2.1"
smallvec = "1.10.0"
thiserror = "2.0"
twofish = "0.7"
zeroize = { version = "1.7", features = ["zeroize_derive"] }
getrandom = { version = "0.2", optional = true }
hkdf = "0.12.4"
aes-gcm = "0.10.3"
eax = "0.5.0"
ocb3 = "0.1"
aes-kw = { version = "0.2.1", features = ["std"] }
derive_more = { version = "1.0.0-beta.6", features = ["debug", "display"] }
x448 = { version = "0.6", optional = true }
buffer-redux = { version = "1.0.0", default-features = false }
curve25519-dalek = { version = "4.1.3", default-features = false, features = [
    "alloc",
    "precomputed-tables",
    "zeroize",
] }
ed25519-dalek = { version = "2.0.0", default-features = false, features = [
    "std",
    "zeroize",
    "fast",
] }
flate2 = { version = "1.0", default-features = false, features = [
    "rust_backend",
] }
num-bigint = { version = "0.8.4", features = [
    "rand",
    "i128",
    "u64_digit",
    "prime",
    "zeroize",
], package = "num-bigint-dig" }
x25519-dalek = { version = "2.0.1", default-features = false, features = [
    "alloc",
    "precomputed-tables",
    "zeroize",
    "static_secrets",
] }
bytes = "1.9.0"
bytes-utils = "0.1.4"
memmap2 = { version = "0.9.5", optional = true }
bzip2 = { version = "0.5.0", default-features = false, features = [
    "libbz2-rs-sys",
] }
bitfields = "0.12.3"

[dev-dependencies]
glob = "0.3"
hex-literal = "0.4"
pretty_assertions = "1"
pretty_env_logger = "0.5"
rand_chacha = "0.3"
rand_xorshift = "0.3"
regex = "1.7"
rpgp_0_10 = { version = "=0.10.2", package = "pgp" }
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0"
criterion = { version = "0.5", features = ["html_reports"] }
tempfile = "3.14.0"
proptest = { version = "1.6.0", features = ["proptest-macro"] }
proptest-derive = "0.5.1"

[features]
default = ["mmap"]
asm = ["sha1/asm", "sha2/asm", "md-5/asm"]
wasm = ["chrono/wasmbind", "getrandom", "getrandom/js"]
unstable-curve448 = ["dep:x448"]
mmap = ["dep:memmap2"]

[profile.bench]
debug = 2

[[bench]]
name = "benches_main"
harness = false

[lib]
bench = false
