[package]
name = "pgp"
version = "0.19.0"
authors = ["dignifiedquire <dignifiedquire@gmail.com>"]
description = "OpenPGP implementation in Rust"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/rpgp/rpgp"
repository = "https://github.com/rpgp/rpgp"
readme = "README.md"
resolver = "2"

keywords = ["pgp", "gpg", "openpgp", "email", "encryption"]
categories = ["cryptography", "email"]

exclude = ["tests/tests/*"]

edition = "2021"
rust-version = "1.88"

[lib]
bench = false

[dependencies]

# General
base64 = ">=0.21.7, < 0.23"
buffer-redux = { version = "1.0.0", default-features = false }
bitfields = "1.0.0"
bytes = "1.9.0"
byteorder = "1.4"
derive_builder = "0.20.0"
hex = "0.4"
nom = "8.0"
log = "0.4.22"
smallvec = "1.10.0"
derive_more = { version = "2.0.1", features = ["debug", "display"] }
regex = "1.7"
snafu = { version = "0.8.5", features = ["rust_1_81"] }

# Compression
flate2 = { version = "1.1.1", default-features = false, features = ["zlib-rs"] }
bzip2 = { version = "0.6.0", optional = true }

# Crypto
aes = "0.9.0-rc.4"
aead = { version = "0.6.0-rc.10", features = ["bytes"] }
argon2 = { version = "0.6.0-rc.7", features = ["alloc", "zeroize"] }
block-padding = "0.4.0"
blowfish = "0.10.0-rc.3"
camellia = "0.2.0-rc.1"
cast5 = "0.12.0-rc.1"
cfb-mode = "0.9.0-rc.3"
cipher = "0.5.0"
const-oid = "0.10"
crc24 = "0.1.6"
crypto-bigint = { version = "0.7.0-rc.27", default-features = false, features = ["alloc"] }
curve25519-dalek = { version = "5.0.0-pre.6", default-features = false, features = [
    "alloc",
    "precomputed-tables",
    "zeroize",
] }
des = "0.9.0-rc.3"
digest = "0.11.0-rc.11"
dsa = { version = "0.7.0-rc.13", features = [ "hazmat" ] }
ecdsa = "0.17.0-rc.16"
ed25519-dalek = { version = "3.0.0-pre.6", default-features = false, features = ["alloc", "fast", "rand_core", "zeroize"] }
elliptic-curve = "0.14.0-rc.28"
hybrid-array = "0.4.7"
idea = "0.6.0-rc.1"
md-5 = { version = "0.11.0-rc.5", features = ["oid"] }
num_enum = ">=0.5.7, < 0.8"
p256 = { version = "0.14.0-rc.7", features = ["ecdsa", "ecdh"] }
p384 = { version = "0.14.0-rc.7", features = ["ecdsa"] }
p521 = { version = "0.14.0-rc.7", features = ["ecdsa", "ecdh"] }
k256 = { version = "0.14.0-rc.7", features = ["ecdsa"] }
rand = "0.10"
ripemd = { version = "0.2.0-rc.5", features = ["oid"] }
rsa = { version = "0.10.0-rc.15" }
sha1 = { version = "0.11.0-rc.5", features = ["oid"] }
sha1-asm = { version = "0.5.3", optional = true }
sha1-checked = { version = "0.11.0-rc.0", features = ["zeroize"] }
sha2 = { version = "0.11.0-rc.5", features = ["oid"] }
sha3 = { version = "0.11.0-rc.7", features = ["oid"] }
signature = "3.0.0-rc.10"
twofish = "0.8.0-rc.1"
zeroize = { version = "1.8", features = ["zeroize_derive"] }
getrandom = { version = "0.4", optional = true }
hkdf = "0.13.0-rc.5"
aes-gcm = "0.11.0-rc.3"
eax = "0.6.0-rc.3"
ocb3 = "0.2.0-rc.3"
aes-kw = { version = "0.3.0-rc.2" }
ed448-goldilocks = { version = "0.14.0-pre.10" }
x448 = { version = "0.14.0-pre.7", features = ["static_secrets"] }
x25519-dalek = { version = "3.0.0-pre.6", default-features = false, features = [
    "precomputed-tables",
    "zeroize",
    "static_secrets",
] }

# PQC
ml-kem = { version = "0.3.0-pre.7", features = ["zeroize", "hazmat"], optional = true }
ml-dsa = { version = "0.1.0-rc.7", features = ["zeroize"], optional = true }
slh-dsa = { version = "0.2.0-rc.4", optional = true }
replace_with = "0.1.8"


[dev-dependencies]
glob = "0.3"
hex-literal = "1"
pretty_assertions = "1"
pretty_env_logger = "0.5"
rand_xorshift = "0.5.0"
rayon = "1.10"
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.47"
criterion = { version = "0.5", features = ["html_reports"] }
tempfile = "3.14.0"
proptest = { version = "1.6.0", features = ["proptest-macro"] }
proptest-derive = "0.5.1"
escape_string = "0.1.2"
testresult = "0.4.1"
chacha20 = { version = "0.10", features = ["rng"] }

[features]
default = ["bzip2"]

# See README.md for features documentation
bzip2 = ["dep:bzip2"]
asm = ["dep:sha1-asm"]
wasm = ["getrandom"]

large-rsa = []
malformed-artifact-compat = []

draft-pqc = ["dep:ml-kem", "dep:ml-dsa", "dep:slh-dsa"]
draft-wussler-openpgp-forwarding = []

[profile.bench]
debug = 2

[[bench]]
name = "benches_main"
harness = false

[patch.crates-io]
cfb-mode = { git = "https://github.com/RustCrypto/block-modes.git" }
