jobs:
- job: ${{ parameters.name }}
  pool:
    vmImage: ${{ parameters.vmImage }}
  strategy:
    matrix:
      stable:
        rustup_toolchain: stable
      nightly:
        rustup_toolchain: nightly

  - ${{ if ne(parameters.name, 'Windows') }}:
    # Linux and macOS.
    - script: |
        curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain $RUSTUP_TOOLCHAIN
        echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
      displayName: Install rust
  - ${{ if eq(parameters.name, 'Windows') }}:
    # Windows.
    - script: |
        curl -sSf -o rustup-init.exe https://win.rustup.rs
        rustup-init.exe -y --default-toolchain %RUSTUP_TOOLCHAIN%
        set PATH=%PATH%;%USERPROFILE%\.cargo\bin
        echo "##vso[task.setvariable variable=PATH;]%PATH%;%USERPROFILE%\.cargo\bin"
      displayName: Install rust (windows)
  # All platforms.
  - script: |
        rustc -Vv
        cargo -V
    displayName: Query rust and cargo versions
  - ${{ if eq(parameters.name, 'Linux') }}:
    - script: ci/run.sh
      env:
        TARGET: ${{ parameters.target }}
      displayName: Build and run tests
  - ${{ if eq(parameters.name, 'Android') }}:
    - script: ci/run.sh
      env:
        TARGET: ${{ parameters.target }}
      displayName: Build and run tests
  - ${{ if eq(parameters.name, 'macOS') }}:
    - script: ci/run.sh
      env:
        TARGET: ${{ parameters.target }}
      displayName: Build and run tests
  - ${{ if eq(parameters.name, 'iOS') }}:
    - script: ci/run.sh
      env:
        TARGET: ${{ parameters.target }}
        NORUN: 1
      displayName: Build and run tests
  - ${{ if eq(parameters.name, 'Windows') }}:
    - script: ci\run.sh
      env:
        TARGET: ${{ parameters.target }}
      displayName: Build and run tests
