name: CI

on:
  pull_request:
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_BACKTRACE: 1
  RUSTFLAGS: -Dwarnings
  RUST_NIGHTLY: nightly-2024-12-04

jobs:
  build_and_test_nix:
    name: Build and test (Nix)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        rust:
          - nightly-2024-12-04
          - stable

    steps:
    - name: Checkout
      uses: actions/checkout@master
      with:
        submodules: recursive

    - name: Install ${{ matrix.rust }}
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        override: true

    - name: Install cargo-nextest
      uses: taiki-e/install-action@v2
      with:
        tool: nextest@0.9.80

    - name: tests
      run: cargo nextest run --lib --bins --tests --all

    - name: asm
      if: ${{ matrix.rust == env.RUST_NIGHTLY }}
      run: cargo nextest run --lib --bins --tests --all --features asm

    - name: tests ignored
      run: cargo nextest run --lib --bins --tests --all --run-ignored ignored-only --release

    - name: asm ignored
      run: cargo nextest run --lib --bins --tests --all --run-ignored ignored-only --release --features asm

  build_and_test_windows:
    name: Build and test (Windows)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        rust:
          - nightly-2024-07-07
          - stable
        target:
          - x86_64-pc-windows-gnu
          # FIXME
          # -  x86_64-pc-windows-msvc

    steps:
    - name: Checkout
      uses: actions/checkout@master
      with:
        submodules: recursive

    - name: Install ${{ matrix.rust }}
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        target: ${{ matrix.target }}
        override: true

    - name: check curve448
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --features unstable-curve448 --all --target ${{ matrix.target }}

    - name: Install cargo-nextest
      uses: taiki-e/install-action@v2
      with:
        tool: nextest@0.9.80

    - name: tests
      run: cargo nextest run --lib --bins --tests --all

    - name: tests ignored
      run: cargo nextest run --lib --bins --tests --all --run-ignored ignored-only --release

  cross:
    name: Cross compile
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - i686-unknown-linux-gnu
          - powerpc-unknown-linux-gnu
          - arm-linux-androideabi

    steps:
    - name: Checkout
      uses: actions/checkout@master
      with:
        submodules: recursive

    - name: Install stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: 1.81
        target: ${{ matrix.target }}
        override: true

    - name: Install cross
      run: cargo install cross

    - name: test
      run: cross test --all --target ${{ matrix.target }}

  check_wasm:
    name: Check wasm targets
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - nightly-2024-07-07
          - stable

    steps:
    - uses: actions/checkout@master

    - name: Install rust with wasm32-unknown-unknown
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        target: wasm32-unknown-unknown
        override: true

    - name: Cache cargo registry
      uses: actions/cache@v2
      with:
        path: ~/.cargo/registry
        key: wasm32-${{ matrix.rust }}-cargo-registry-${{ hashFiles('**/Cargo.toml') }}

    - name: check
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --target wasm32-unknown-unknown --features wasm

  check_fmt_and_docs:
    name: Checking fmt and docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - uses: actions-rs/toolchain@v1
      with:
          profile: minimal
          toolchain: ${{ env.RUST_NIGHTLY }}
          override: true
          components: rustfmt

    - name: setup
      run: |
        rustup component add rustfmt
        rustc --version

    - name: fmt
      run: cargo fmt --all -- --check

    - name: Docs
      run: cargo doc

  clippy_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
          profile: minimal
          toolchain: ${{ env.RUST_NIGHTLY }}
          override: true
          components: clippy
    - uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all-features --all-targets --tests --bins --examples --benches

  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: codespell-project/actions-codespell@master

  cargo_deny:
    timeout-minutes: 30
    name: cargo deny
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          arguments: --workspace --all-features
          command: check
          command-arguments: "-Dwarnings"

  minimal_versions:
    name: check minimal version
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
          profile: minimal
          toolchain: ${{ env.RUST_NIGHTLY }}
          override: true
    run: rm Cargo.lock && cargo check -Z direct-minimal-versions --all
